*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f7f2eb;
    color:#333;
}

header{
    background:#5c4033;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

nav a:hover{
    color:#ffd27f;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?w=1200");
    background-size:cover;
    background-position:center;
    color:white;
}

.hero h2{
    font-size:42px;
}

.hero p{
    margin:20px 0;
    font-size:20px;
}

.btn{
    background:#d2691e;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
}

.btn:hover{
    background:#a0522d;
}

.about,.services{
    padding:50px;
    text-align:center;
}

.card{
    background:white;
    margin:20px auto;
    width:70%;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
}

.card h3{
    color:#5c4033;
    margin-bottom:10px;
}

footer{
    background:#5c4033;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}